.flexbox-container-about {
    position: absolute;
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    padding-bottom: 180px;
    padding-top: 80px;
    color: rgb(201, 233, 255);
    text-shadow: 1px 1px 10px black;
    flex-direction: column;
  }
  
  .flexbox-container-about p {
    line-height: 2.25;
    font-size: 27px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: -10px;
  }

#port {
    width: 800px;
    position: absolute;
    padding-right: 200px;
    margin-left: 0;
    padding-top: 200px;
    margin-bottom: 300px;
    margin-left: 30.5%;
}

.button-container-about a {
    text-decoration: none;
    color: rgb(74, 181, 252);
    font-family: 'Nunito Lt';
    font-size: 30px;
}