@font-face {
  font-family: Nunito Lt;
  src: url("./fonts/Nunito-Light.ttf");
}

.body {
  background-image: url('./background.jpg');
}

.flexbox-container-about {
    position: absolute;
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    padding-bottom: 180px;
    padding-top: 80px;
    color: rgb(201, 233, 255);
    text-shadow: 1px 1px 10px black;
    flex-direction: column;
  }
  
  .flexbox-container-about p {
    line-height: 2.25;
    font-size: 27px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: -10px;
    font-family: 'Nunito Lt';
  }

#port {
    width: 800px;
    position: absolute;
    padding-right: 200px;
    margin-left: 0;
    padding-top: 200px;
    margin-bottom: 300px;
    margin-left: 30.5%;
}

.button-container-about a {
    text-decoration: none;
    color: rgb(74, 181, 252);
    font-family: 'Nunito Lt';
    font-size: 30px;
}


.button-about {
  border-radius: 100px;
  background-color: rgba(32, 43, 144, 0);
  border: none;
  color: rgb(74, 181, 252);
  text-align: center;
  font-family: Nunito Lt;
  font-size: 30px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin-left: 78%;
  top: 106.5%;
  position: relative;
  margin-bottom: -20px;
}

.button-about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-about a {
  text-decoration: none;
  color: inherit;
  font-family: 'Nunito Lt';
}

.button-about span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-about:hover span {
  padding-right: 25px;
}

.button-about:hover span:after {
  opacity: 1;
  right: 0;
}