.flexbox-container-connect {
    position: absolute;
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    padding-bottom: 100px;
    padding-top: 80px;
    color: rgb(201, 233, 255);
    text-shadow: 1px 1px 10px black;
    flex-direction: column;
}

.flexbox-container-connect p {
    line-height: 2.25;
    font-size: 27px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: -10px;
}

.flexbox-container-connect a {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.flexbox-container-connect a:hover {
    color: rgb(182, 216, 234);
}

.flexbox-container-connect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: rgb(74, 181, 252);
    transition: width 0.5s ease-in-out;
}

.flexbox-container-connect a:hover::after {
    width: 100%;
}

/* Add this to your existing CSS file */
.horizontal-links {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Optional: Center the links horizontally */
}

.horizontal-links p a {
    font-size: 40px;
}