#content-container {
    position: relative;
    z-index: 2; 
}

.color-block {
    position: absolute;
    width: 10%;
    height: 10%;
    opacity: 1;
}

#box1 {
    background: linear-gradient(45deg, rgb(228, 25, 88), rgb(255, 173, 112));
    z-index: 1;
    width: 700px;
    height: 300px;
    margin-right: 650px;
    margin-top: 225px;
    box-shadow: 0 0 20px 5px rgba(66, 7, 26, 0.5);
}

#box2 {
    background: linear-gradient(135deg, rgb(0, 102, 204) 0%, rgb(0, 204, 255) 100%);
    z-index: 0;
    margin-left: 0;
    width: 58%;
    height: 380px;
    right: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 5px rgba(8, 40, 63, 0.5);
}


#content-container {
    margin-right: 380px;
    margin-top: -3%;
}

@font-face {
    font-family: "Katahdin";
    src: url("/Users/savannahlyles/Documents/workspace/myportfolio/src/fonts/Katahdin.ttf");
}

#content-container h1 {
    color: rgb(131, 13, 50);
    font-size: 152px;
    font-family: Katahdin;
    margin-bottom: -20%;
    letter-spacing: 6px;
}

#content-container .color-change {
    color: #1d1d72;
}

#blurb-container {
    position: absolute;
    color: rgb(201, 233, 255);
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: Nunito Lt;
    font-size: 29px;
    top: 453px;
    left: 712px;
  }

#blurb-container .columbia {
    color: rgb(201, 233, 255);
}

.button {
    border-radius: 100px;
    background-color: rgb(109, 31, 146);
    border: none;
    color: rgb(201, 233, 255);
    text-align: center;
    font-family: Roboto Lt;
    font-size: 50px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 39.5%;
    margin-top: 700px;
}

#explore h1 {
    margin-bottom: 100px;
    margin-left: 40%;
    font-family: Nunito Lt;
    font-size: 90px;
    color: rgb(201, 233, 255);
}

