@font-face {
    font-family: Nunito Lt;
    src: url("./fonts/Nunito-Light.ttf");
  }

.body {
        line-height: 1.5;
        color-scheme: light dark;
        background-image: url('./background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-family: 'Nunito Lt';
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

#content-container {
    position: relative;
    z-index: 2; 
    margin-right: 380px;
    margin-top: -3%;
}

.color-block {
    position: absolute;
    width: 10%;
    height: 10%;
    opacity: 1;
}

#box1 {
    background: linear-gradient(90deg, #fa1a5d, #c733b1);
    z-index: 1;
    width: 700px;
    height: 300px;
    margin-right: 650px;
    margin-top: 240px;
    box-shadow: 0 0 20px 2px rgba(66, 7, 26, 0.5);
}

#box2 {
    background: linear-gradient(90deg, rgb(32,44,144) 0%, rgb(0, 149, 255) 100%);
    z-index: 0;
    margin-left: 0;
    width: 58%;
    height: 380px;
    right: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 5px rgba(8, 40, 63, 0.5);
}

#boxa {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 40px 20px #8e0d34;
    margin-top: 700px;
    margin-left: 45px;
}

#boxb {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 40px 20px #6f1c62;
    margin-top: 700px;
    margin-left: 36%;
}

#boxc {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgb(0, 64, 110);
    margin-top: 700px;
    margin-right: 45px;
    right: 0;
}

#boxes {
    transform: translateY(90px);
    padding-bottom: 1300px;
}

@font-face {
    font-family: "Katahdin";
    src: url("./fonts/Katahdin.ttf");
}

#content-container h1 {
    color: #8e1139;
    font-size: 152px;
    font-family: 'Katahdin';
    margin-bottom: -20%;
    letter-spacing: 6px;
    text-shadow: 2px 2px 5px rgba(39, 4, 15, 0.8);
}

#content-container .color-change {
    color: #151656;
    text-shadow: 2px 2px 5px #0b0b2dd0;
}

#blurb-container {
    position: absolute;
    color: rgb(201, 233, 255);
    margin-left: 40px;
    font-family: Nunito Lt;
    font-size: 20px;
    top: 600px;
  }

  .button {
    border-radius: 100px;
    background-color: rgba(32, 43, 144, 0);
    border: none;
    color: rgb(74, 181, 252);
    text-align: center;
    font-family: Nunito Lt;
    font-size: 30px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    margin-left: 78%;
    top: -420px;
    position: relative;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button a {
    text-decoration: none;
    color: inherit;
    font-family: 'Nunito Lt';
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#explore h1 {
    margin-left: 40%;
    font-family: Nunito Lt;
    font-size: 90px;
    color: rgb(201, 233, 255);
}

#pictures {
    z-index: 3;
}

#pictures img {
    filter: invert(95%);
    position: relative;
}

#crown {
    width: 500px;
    top: -597px;
    left: -0.10%;
    transform: translateY(90px);
}

#coding {
    width: 320px;
    left: 4.4%;
    top: -585px;
    transform: translateY(90px);
}

#resume {
    width: 305px;
    margin-top: -900px;
    top: -600px;
    left: 15.5%;
    transform: translateY(90px);
}

#firstb {
    margin-top: 34.8%;
    font-size: 30px;
    text-align: center;
    margin-right: 67%;
    font-family: 'Nunito Lt';
    transform: translateY(90px);
}

#secondb {
    margin-top: -10.6%;
    font-size: 30px;
    margin-left: 100px;
    text-align: center;
    font-family: 'Nunito Lt';
    transform: translateY(90px);
}

#thirdb {
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-top: -10.25%;
    margin-left: 1065px;
    font-family: 'Nunito Lt';
    transform: translateY(90px);
}

#abt {
    width: 800px;
    position: absolute;
    padding-right: 200px;
    margin-left: 0;
    padding-top: 120px;
    padding-bottom: 110px;
    margin-left: 28.7%;
}

.button-container-home a {
    text-decoration: none;
    color: #f269de;
    font-family: 'Nunito Lt';
    font-size: 30px;
}
