#content-container {
    position: relative;
    z-index: 2; 
}

.color-block {
    position: absolute;
    width: 10%;
    height: 10%;
    opacity: 1;
}

#box1 {
    background: linear-gradient(90deg, #fa1a5d, #c733b1);
    z-index: 1;
    width: 700px;
    height: 300px;
    margin-right: 650px;
    margin-top: 225px;
    box-shadow: 0 0 20px 2px rgba(66, 7, 26, 0.5);
}

#box2 {
    background: linear-gradient(90deg, rgb(32,44,144) 0%, rgb(0, 149, 255) 100%);
    z-index: 0;
    margin-left: 0;
    width: 58%;
    height: 380px;
    right: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 5px rgba(8, 40, 63, 0.5);
}


#content-container {
    margin-right: 380px;
    margin-top: -3%;
}

@font-face {
    font-family: "Katahdin";
    src: url("src/fonts/Katahdin.ttf");
}

#content-container h1 {
    color: #8e1139;
    font-size: 152px;
    font-family: Katahdin;
    margin-bottom: -20%;
    letter-spacing: 6px;
    text-shadow: 2px 2px 5px rgba(39, 4, 15, 0.8);
}

#content-container .color-change {
    color: #151656;
    text-shadow: 2px 2px 5px #0b0b2dd0;
}

#blurb-container {
    position: absolute;
    color: rgb(201, 233, 255);
    margin-bottom: 10px;
    margin-left: 40px;
    font-family: Nunito Lt;
    font-size: 20px;
    top: 600px;
  }

#blurb-container .columbia {
    color: rgb(201, 233, 255);
}

.button {
    border-radius: 100px;
    background-color: rgb(109, 31, 146);
    border: none;
    color: rgb(201, 233, 255);
    text-align: center;
    font-family: Roboto Lt;
    font-size: 50px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 39.5%;
    margin-top: 700px;
}

.button-container button {
    margin-top: 850px;
}

#explore h1 {
    margin-bottom: 100px;
    margin-left: 40%;
    font-family: Nunito Lt;
    font-size: 90px;
    color: rgb(201, 233, 255);
}

