:root {
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(27, 11, 41, 1);
  color: white;
  text-align: center;
  height: 65px;
  transition: opacity 0.5s ease; /* Add transition for smooth fading */
  z-index: 999;
}

.flex {
  display: flex;
  align-items: center;
  padding-top: 0.5%;
  justify-content: center;
  gap: 10px;
}

.flex img {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.flex img:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px rgb(201, 233, 255));
}
