@font-face {
  font-family: 'Roboto Lt';
  src: url('../fonts/Roboto-Light.ttf');
}

:root {
  font-family: Roboto Lt;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(/Users/savannahlyles/Documents/workspace/myportfolio/src/images/background.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexbox-container {
  position: absolute;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-bottom: 100px;
}

.flexbox-container p {
  text-align: center;
  align-items: center;
  line-height: 2.25;
  font-family: Roboto Lt;
  font-size: 20px;
  color: rgb(201, 233, 255);
  text-shadow: 1px 1px 10px black;
}

.flexbox-container h1 {
  color: rgb(201, 233, 255);
}