@font-face {
  font-family: 'Nunito Lt';
  src: url('./fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: "Challenged";
  src: ("./fonts/Challenged.ttf");
}

@font-face {
  font-family: "Katahdin";
  src: url("./fonts/Katahdin.ttf");
}

:root {
  line-height: 1.5;
  color-scheme: light dark;
  background-image: url('/Users/savannahlyles/Documents/workspace/myportfolio/src/pages/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Lt';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexbox-container {
  position: absolute;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: auto;
  padding-bottom: 70px;
  color: rgb(201, 233, 255);
  text-shadow: 1px 1px 10px black;
}

.flexbox-container p {
  line-height: 2.25;
  font-size: 20px;
}

.flexbox-container a {
  color: inherit; 
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.flexbox-container a:hover {
  color: rgb(149, 178, 194);
}

.stocks {
  position: absolute;
  margin-top: -837px;
  margin-left: 672px;
  width: 450px;
  height: 350px;
}

.contour {
  position: absolute;
  margin-top: -33%;
  margin-left: 70px;
  width: 450px;
  height: 350px;
}

.site {
  position: absolute;
  margin-top: -102.5%;
  width: 450px;
  height: 350px;
  margin-left: 70px;
}