body{
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: rgba(63, 60, 65, 0);
    width: 100%;
    z-index: 9999;
    animation: gradient_anim 23s ease infinite;
    background-size: 100%;
    align-items: center;
    position: absolute;
}

@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: Roboto Lt;
    src: url("/Users/savannahlyles/Documents/workspace/myportfolio/src/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Rounded;
    src: url("/Users/savannahlyles/Documents/workspace/myportfolio/src/fonts/Rounded.ttf");
}

#name {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#name a {
    text-decoration:none;
    font-size: 50px;
    font-weight: 600;
    color: rgb(201, 233, 255);
    font-family: "Rounded";
    transition: 0.3s ease-in-out;
  }

#name a:hover{
    color: rgb(149, 178, 194);
}
  
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(201, 233, 255);
    font-family: Roboto Lt;
    transition: 0.3s ease-in-out;
    text-shadow: 2px 2px 10px #000;
}

#navbar li a:hover{
    color: rgb(149, 178, 194);
}
  